/**
 * Main color: #00B8F5
 */

body {
  background-color: #333333;
}

#header {
  background-color: #999999;
  height: 50px;
}

h1 {
  line-height: 50px;
  font-size: 2em;
  width: 200px;
  float: right;
  text-align: right;
  padding-right: 1em;
}

#main {
}

#footer {
  height: 500px;
  background-color: #333333;
}

#map-primary {
  width: 50%;
  height: 400px;
  float: left;
  display: block;
}
#map-secondary {
  width: 50%;
  height: 400px;
  float: right;
  display: block;
}